.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {

        margin-bottom: 4rem;
        margin-top: 3vh;

        h1 {
            font-size: 6rem;
        }

    }

    .challenge-display {
        margin-bottom: 3rem;
        border: .1rem solid black;
        padding: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        img {
            height: 11rem;
            transition: 1s ease-in;
            
        }

        .versus {
            font-size: 2rem;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }

    .challenge-win-lose {
        font-size: 3rem;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
       
        .you-won, .you-lost, .you-tied {
            display: none;
        }
    }

    .count {
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;

        .player {
            font-size: 2rem;

            .player-text {
                color: blue;
                font-weight: 600;
            }
        }

        .computer {
            font-size: 2rem;

            .computer-text {
                color: red;
            }
        }

        .player-wins {
            font-size: 3rem;
            color: blue;
            display: none;
        }

        .player-loses {
            font-size: 3rem;
            color: red;
            display: none;
        }

        .play-again {
            cursor: pointer;
            border: none;
            padding: 2rem 5rem;
            border-radius: .5rem;
            font-family: "Oswald", sans-serif;
            font-size: 2rem;
            margin-top: 2rem;
            display: none;
        }
    }

    .challenge-choices {
        margin-top: 6rem;
       

        .container {
            display: flex;
            flex-direction: row;

            img {
                height: 15rem;
            }

            .rock-choice, .paper-choice, .scissors-choice {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 4rem;

                button {
                    margin-top: 3rem;
                    cursor: pointer;
                    border: none;
                    padding: 2rem 5rem;
                    border-radius: .5rem;
                    font-family: "Oswald", sans-serif;
                    font-size: 2rem;
                    margin-top: 5rem;
                }
            }
        }
    }
}